@import url("https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,200;1,100;1,200&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
}

*::selection {
  color: rgba(12, 79, 95, 0.705);
}

@keyframes bounce-in-top {
  0% { transform: translateY(-500px); opacity: 0; }
  38% { transform: translateY(0); opacity: 1; }
  55% { transform: translateY(-65px); }
  72%, 90%, 100% { transform: translateY(0); }
  81% { transform: translateY(-28px); }
  95% { transform: translateY(-8px); }
}

@keyframes puff-in-center {
  0% { transform: scale(2); filter: blur(4px); opacity: 0; }
  100% { transform: scale(1); filter: blur(0); opacity: 1; }
}

header {
  background-color: #0c4f5fb4;
  display: flex;
  gap: 20px;
  grid-gap: 20px;
  justify-content: space-between;
  padding-inline: 8px;
  max-height: 120px;
  align-items: center;
  max-width: 100%;
 
  
}

.logo {
  width: 100px;
  margin-top: 10px;
  padding-block-end: 8px;
  margin-left: 10px;
  animation: bounce-in-top 1.8s both;
  animation-delay: 1.6s;
}

.navbar {
  display: flex;
  margin-right: 10px;
  padding-right: 10px;
  height: 60px;
  margin-top: 10px;
}

.navbar a {
  display: block;
  color: beige;
  font-size: 100%;
  text-decoration: none;
  padding: 10px 15px;
  border: 3px solid beige;
  margin: 5px 5px;
  transition: all 0.3s;
  animation: puff-in-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.navbar a:hover {
  background-color: #0c4f5fb4;
}
footer {
  background-color: rgba(12, 79, 95, 0.705);
  color: #0b0b0b;
  text-align: center;
  padding: 10px;
}

footer .btn {
  display: inline-flex;
  align-items: center;
  color: rgb(12, 12, 12);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  text-decoration: none;
  margin: 8px 5px;
  background-color: rgb(235, 235, 232);
}

footer .btn:hover {
  background-color: rgba(12, 79, 95, 0.705);
}

footer .btn img {
  width: 25px;
  height: 25px;
}

footer .contenedor-redes-sociales {
  margin: 10px;
}

footer .contenedor-redes-sociales .icono-red-social {
  width: 50px;
  height: 50px;
}

footer .contenedor-redes-sociales .icono-red-social:hover {
  background-color: #f5f5dc;
}





main {
  display: flex; /* Usar flex en el contenedor principal */
  flex-direction: column; /* Colocar los elementos en columnas */
  align-items: center; /* Centrar elementos horizontalmente */
  padding: 20px;
  background-image: url("../IMG/fm-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 400px;
  max-width: 1300px;
  overflow-x: hidden;
  
}

main h1 {
  color: rgba(4, 4, 4, 0.847);
  text-align: center; /* Centrado del título */
  font-size: 45px;
  margin: 20px 0;
}

main h2 {
  text-align: center; /* Centrado del subtítulo */
  color: black;
  font-size: 35px;
  margin: 20px 0;
}

main p {
  font-size: 1.2em;
  white-space: pre-line;
  text-align: center; 
  margin: 20px 0;
  max-width: 80%; 
}

.video__muestra {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  max-width: 800px; 
  margin: 20px 0; 
}

.video-container {
  flex: 1; 
  max-width: 560px; 
}

.logo-container {
  margin-left: 20px; 
}

.logo {
  max-width: 100px; 
  height: auto; 
}

.container {
  display: block;
  width: 100%;
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
  margin-left: 15%;
}

.container h3 {
  font-size: 30px;
  text-align: center; /* Centrado del texto */
  text-decoration: underline;
  color: #0a0a0a;
  margin: 20px 0;
}

.container .YouTube {
  text-align: center; /* Centrado del contenedor de YouTube */
}

.container button.boton-Youtube {
  background-image: url("../IMG/youtube_PNG102354-removebg-preview.png");
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 90px;
  height: 90px; /* Ajustado a 90px para ser más proporcional */
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block; /* Cambiado a 'inline-block' para alineación */
  margin: 10px;
  transition: background-color 0.3s; /* Agregado transición suave */
}

.container button.boton-Youtube:hover {
  background-color: rgba(173, 119, 119, 0.723);
  border-radius: 13px;
}



article {
  display: flex;                 
  flex-direction: column;       
  align-items: center;          
  justify-content: center;      
  text-align: center;           
  margin: 20px;                
}

article img {
  max-width: 70%;             
  height: auto;                 
  margin: 10px;              
}

article iframe {
  max-width: 100%;             
  height: 350px;                 
  margin: 10px;                
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: green;
  color: beige;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 9999;
  background-image: url("../IMG/whatsapp-png-wazapp-logo-whats-whatsapp-logo-whatsapp-icon-2050-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-bottom: 20px;
}

.whatsapp-button a {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.whatsapp-button:hover {
  background-color: darkgreen;
}

@media only screen and (max-width: 640px) {
 
  header .navbar {
    justify-content: flex-end;
    margin-bottom: 20px;
   
  }
  article {
    flex-direction: column;     
  }

  header .navbar a {
    font-size: 90%;
    padding: 3px;
    margin: 3px;
    border: 2px solid beige;
  }

  header .logo {
    height: 90px;
    width: 90px;
  }


  main h3 {
    font-size: 25px;
    margin-left: 5px;
    text-align: center;
  }

  main .video__muestra {
    max-width: 100%; /* Asegura que el video ocupe el 100% del ancho en pantallas pequeñas */
  }

  main .container {
    background-color: white;
    text-align: center;
    
  }

  main .boton-Youtube {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}
